# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files & uploads
tmp/
*.zip
*.pdf

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env

# Test outputs
test_data/
